.promo {
  background-color: #073042;
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}

.promo__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 75px;
  margin-bottom: 84px;
}

.promo__title {
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  padding: 0;
  margin: 0 0 36px;
  max-width: 640px;
}

.promo__image {
  width: 310px;
  height: 304px;
  object-fit: cover;
}

.promo__link {
  margin-bottom: 75px;
  max-width: 129px;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  padding: 8px 18px;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 1);
  text-decoration: none;
}

.promo__link:hover {
  border: 1px solid rgba(255, 255, 255, 0.6);
}