.about-project {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 110px 70px;
}

.section__title {
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 26.63px;
  padding: 0 0 23px;
  margin: 0;
  max-width: 100%;
  border-bottom: 1px solid #000000;
}

.about-project__container {
  margin-top: 70px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-project__description {
  display: flex;
  flex-direction: column;
  max-width: 550px;
}

.about-project__heading {
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.2px;
  padding: 0;
  margin: 0 0 26px;
}

.about-project__subheading {
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 0;
}

.table {
  margin-top: 110px;
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

.table__heading {
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  padding: 9px 0;
  margin: 0;
}

.table__heading_type_back {
  background-color: #2BE080;
  width: 20%;
}

.table__heading_type_front {
  background-color: #F2F2F2;
  width: 80%;
}

.table__cell {
  text-align: center;
  padding: 14px 0 0;
  color: #A0A0A0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

@media screen and (max-width: 1100px) {
  .about-project__description {
    max-width: 420px;
  }

  .about-project__heading {
    max-width: 350px;
  }
}

@media screen and (max-width: 896px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__description {
    max-width: 350px;
  }

  .about-project__heading {
    max-width: 320px;
  }

  .table {
    margin-top: 93px;
  }
}

@media screen and (max-width: 768px) {
  .about-project__description {
    max-width: 320px;
  }

  .about-project__heading {
    margin-bottom: 22px;
  }

  .about-project__subheading {
    font-size: 12px;
    line-height: 18px;
  }
}

@media screen and (max-width: 600px) {
  .about-project__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
  }

  .about-project__description {
    max-width: 100%;
  }

  .table__heading_type_back {
    width: 35%;
  }

  .table__heading_type_front {
    width: 65%;
  }
}

@media screen and (max-width: 425px) {
  .about-project {
    padding: 70px 18px;
  }

  .section__title {
    font-size: 18px;
    line-height: 21.78px;
    padding-bottom: 28px;
  }

  .about-project__container {
    margin-top: 60px;
  }

  .about-project__heading {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 21.78px;
  }

  .about-project__subheading {
    font-size: 11px;
    line-height: 16px;
  }

  .table {
    margin-top: 60px;
  }

  .table__heading {
    font-size: 11px;
    line-height: 13.31px;
    padding: 11px 0;
  }

  .table__cell {
    font-size: 11px;
    line-height: 12.74px;
    padding: 10px 0;
  }
}