.register__signin {
  padding: 0;
  margin: 16px 0 0;
  text-align: center;
}

.register__signin_text {
  color: #A0A0A0;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
}

.register__signin_link {
  color: #3456F3;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-decoration: none;
  margin-left: 6px;
}