.techs {
  background-color: #F5F5F5;
  padding: 100px 70px;
  display: flex;
  flex-direction: column;
}

.techs__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techs__heading {
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  padding: 0;
  margin: 90px 0 0;
  text-align: center;
}

.techs__subheading {
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
  margin: 26px 0 0;
  max-width: 500px;
  text-align: center;
}

.techs__items {
  display: flex;
  width: 690px;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 100px 0 0;
}

.techs__item {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  color: #000000;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  width: 90px;
  height: 60px;
  background-color: #E8E8E8;
  border-radius: 10px;
  text-transform: uppercase;
  /* user-select: none; */
}

@media screen and (max-width: 896px) {
  .techs {
    padding: 90px 50px;
  }

  .techs__heading {
    margin-top: 80px;
  }

  .techs__subheading {
    font-size: 12px;
    line-height: 18px;
    margin-top: 22px;
  }

  .techs__items {
    margin-top: 83px;
    max-width: 648px;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px 10px;
    justify-content: center;
  }

  .techs__item {
    width: 84px;
    height: 57px;
  }
}

@media screen and (max-width: 425px) {
  .techs {
    padding: 70px 18px;
  }

  .techs__heading {
    margin-top: 60px;
    font-size: 30px;
    line-height: 36.31px;
  }

  .techs__subheading {
    margin-top: 24px;
    font-size: 11px;
    line-height: 16px;
  }

  .techs__items {
    margin-top: 50px;
    max-width: 178px;
    justify-content: space-between;
  }
}